{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="{% static 'nome_aplicativo/css/main.css' %}">
</head>
<body>
    <div class="container mx-auto my-8 p-4 max-w-md">
        <h2 class="text-2xl font-bold mb-4">Registrar</h2>

        <form action="{% url 'cadastrar' %}" method="post">
            {% csrf_token %}
            <div class="mb-4">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="mb-4">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="mb-4">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Cadastrar</button>
        </form>
    </div>
</body>
</html>